# Auto detect text files and perform LF normalization
* text=auto
<doctype!>
  <style>
    body {
      background-image: url('https://live.staticflickr.com/65535/51659408066_7bdc855554_o.jpg');
      background-repeat;
      background-attachment;
      background-size: 90% 100%;
    }
  </style>
  <script>
document.write(Date());
</script>
  <style>
    div {
      background-color: black;
      width: 1125px;
      border: 3px solid darkred;
      padding: 50px;
      margin: 20px;
    }
  </style>
  <div>
    <p style="font-size:100px;font-weight:bold;color:hsla(240,100%,50%,0.7);">Sunlight goods</p>
    <p style="font-size:50px;font-weight:bold;color:hsla(240,100%,50%,0.7);">size of background might vairy</p>
    <u><p>
</p>
      <style>
        div2 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div2>
        <img src="https://live.staticflickr.com/65535/51667588135_a0980a635a_t.jpg" width="100" height="95" alt="god gap">
        <run style="font-size:25px;font-weight:bold;color:#ff3312;">1 god gap for 5 skulls
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
     <input type="button" value="trade! " onClick="onClick1(); onClick();" /></button>
          <script type="text/javascript">
            var skulls = 0;
            function onClick1() {
              skulls += 5;
              document.getElementById("skulls").innerHTML = skulls;
            };
          </script>
        </run>
      </div2>
      <style>
        div3 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div3>
        <img src="https://live.staticflickr.com/65535/51660509647_a939cfb2ee_t.jpg" width="97" height="100" alt="wither skull">
        <run style="font-size:25px;font-weight:bold;color:#ff3312;">5 skulls for 1 god gap
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
               <input type="button" value="trade! " onClick="onKlick1(); onKlick();" /></button>
          <script type="text/javascript">
            var clicks = 0;
            function onKlick1() {
              clicks += 5;
              document.getElementById("clicks").innerHTML = clicks;
            };
          </script>
        </run>
      </div3>
      <style>
        div4 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div4>
        <img src="https://live.staticflickr.com/65535/51665855625_7f9c31eefb_t.jpg" width="97" height="100" alt="end crystal">
        <run style="font-size:25px;font-weight:bold;color:#ff3312;">32crystals for 3 skulls
          <p>
          </p>
          <style>
          </style>

        <input type="button" value="trade! " onClick="onFlick1(); onFlick();" /></button>
          <script type="text/javascript">
            var clicks = 0;
            function onFlick1() {
              skulls += 3;
              document.getElementById("skulls").innerHTML = skulls;
            };
          </script>
        </run>
      </div4>
      <style>
        div5 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div5>
        <img src="https://live.staticflickr.com/65535/51664969486_c2ea8f7e22_t.jpg" width="97" height="100" alt="carrot shulker">
        <run style="font-size:18px;font-weight:bold;color:#ff3312;">shulker of carrots/ potatoes please tell us for 1 skull
          <p>
          </p>
          <style>
          </style>
            <input type="button" value="trade! " onClick="onElick1(); onElick();" /></button>
          <script type="text/javascript">
            var clicks = 0;
            function onElick1() {
              clicks += 1;
              document.getElementById("clicks").innerHTML = clicks;
            };
          </script>
          </div5>
        <style>
          div6 {
            background-color: black;
            width: 100px;
            border: 3px solid darkred;
            padding: 25px;
            margin: 20px;
            display: inline-block;
          }
        </style>
        <div6>
          <img src="https://live.staticflickr.com/65535/51660749067_b88bfb7d84_t.jpg" width="97" height="100" alt="starter kit">
          <run style="font-size:25px;font-weight:bold;color:#ff3312;">starter kit for 2 skulls
            <p>
            </p>
            <style>
            </style>
            <input type="button" value="trade! " onClick="onAlick1(); onAlick();" /></button>
            <script type="text/javascript">
              var skulls = 0;
              function onAlick1() {
                skulls += 2;
                document.getElementById("skulls").innerHTML = skulls;
              };
            </script>
            </div6>
          <style>
            div7 {
              background-color: black;
              width: 100px;
              border: 3px solid darkred;
              padding: 25px;
              margin: 20px;
              display: inline-block;
            }
          </style>
          <div7>
            <img src="https://live.staticflickr.com/65535/51665596969_4342fbf12b_t.jpg" width="97" height="100" alt="custom shulker">
            <run style="font-size:18px;font-weight:bold;color:#ff3312;">shulker of custom enchanted books tell us what books u want, for 1 skull
              <p>
              </p>


<input type="button" value="trade! " onClick="onBlick1(); onBlick();" /></button>
</div7>
           <style>
          div8 {
            background-color: black;
            width: 100px;
            border: 3px solid darkred;
            padding: 25px;
            margin: 20px;
            display: inline-block;
            height: px;
            }
        </style>
        <div8>
          <img src="https://live.staticflickr.com/65535/51665005518_41d634107a_t.jpg" width="97" height="100" alt="starter kit">
          <run style="font-size:19.74674px;font-weight:bold;color:#ff3312;"><p>redstone kit for 2 skull includes slime and honey

            </p>
            <style>
            </style>
            <input type="button" value="trade! " onClick="onZlick1(); onZlick();" /></button>
            <script type="text/javascript">
              var clicks = 0;
              function onZlick1() {
                clicks += 2;
                document.getElementById("clicks").innerHTML = clicks;
              };
            </script>
            </div8>
 </run>
   <style>
          div8 {
            background-color: black;
            width: 100px;
            border: 3px solid darkred;
            padding: 25px;
            margin: 20px;
            display: inline-block;
            height: px;
            }
        </style>
        <div8>
          <img src="https://live.staticflickr.com/65535/51665005518_41d634107a_t.jpg" width="97" height="100" alt="starter kit">
          <run style="font-size:27.7px;font-weight:bold;color:#ff3312;"><p>pvp kit for 1 skull

            </p>
            <style>
            </style>
            <input type="button" value="trade! " onClick="onPlick1(); onPlick();" /></button>
            <script type="text/javascript">
              var skulls = 0;
              function onPlick1() {
                skulls += 1;
                document.getElementById("skulls").innerHTML = skulls;
              };
            </script>
            </div8>
 </run>
 <style>
          div9 {
            background-color: black;
            width: 100px;
            border: 3px solid darkred;
            padding: 25px;
            margin: 20px;
            display: inline-block;
            height: px;
            }
        </style>
        <div9>
          <img src="https://live.staticflickr.com/65535/51664839576_5be2ea52d4_t.jpg" width="97" height="100" alt="carrot box">
          <run style="font-size:20px;font-weight:bold;color:#ff3312;"><p>Golden carrots shulker (or any food) for 1 skull

            </p>
            <style>
            </style>
            <input type="button" value="trade! " onClick="onHlick1(); onHlick();" /></button>
            <script type="text/javascript">
              var clicks = 0;
              function onHlick1() {
                clicks += 1;
                document.getElementById("clicks").innerHTML = clicks;
              };
            </script>
            </div9>
 </run>
       <style>
        div10 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div10>
        <img src="https://live.staticflickr.com/65535/51667588135_a0980a635a_t.jpg" width="97" height="100" alt="wither skull">
        <run style="font-size:25px;font-weight:bold;color:#ff3312;">32 gaps for a wither skull
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
               <input type="button" value="trade! " onClick="onJlick1(); onJlick();" /></button>
          <script type="text/javascript">
            var gaps = 0;
            function onJlick1() {
              gaps += 32;
              document.getElementById("gaps").innerHTML = gaps;
            };
          </script>
        </run>
      </div10>
                 </div9>
 </run>
       <style>
        div11 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div11>
        <img src="https://live.staticflickr.com/65535/51664969486_c2ea8f7e22_t.jpg" width="97" height="100" alt="wither skull">
        <run style="font-size:25px;font-weight:bold;color:#ff3312;">1 skull for a shulker of sand
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
               <input type="button" value="trade! " onClick="onLlick1(); onLlick();" /></button>
          <script type="text/javascript">
            var skulls = 0;
            function onLlick1() {
              skulls += 1;
              document.getElementById("skulls").innerHTML = skulls;
            };
          </script>
        </run>
      </div11>
                    </div9>
 </run>
       <style>
        div11 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div11>
        <img src="https://live.staticflickr.com/65535/51664969486_c2ea8f7e22_t.jpg" width="97" height="100" alt="wither skull">
        <run style="font-size:25px;font-weight:bold;color:#ff3312;">1 skull for a shulker of glass
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
               <input type="button" value="trade! " onClick="onQlick1(); onQlick();" /></button>
          <script type="text/javascript">
            var skulls = 0;
            function onQlick1() {
              skulls += 1;
              document.getElementById("skulls").innerHTML = skulls;
            };
          </script>
        </run>
      </div11>
       <style>
        div12 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div12>
        <img src="https://live.staticflickr.com/65535/51680098500_8b7374f9c8_t.jpg" width="99" height="100" alt="wither skull">
        <run style="font-size:18px;font-weight:bold;color:#ff3312;">shulker of potions custom please give time to get it together
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
               <input type="button" value="trade! " onClick="onTlick1(); onTlick();" /></button>
          <script type="text/javascript">
            var skulls = 0;
            function onTlick1() {
              skulls += 1;
              document.getElementById("skulls").innerHTML = skulls;
            };
          </script>
          </div12>
          <style>
        div13 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div13>
        <img src="https://live.staticflickr.com/65535/51679426651_bd1ed7d38b_t.jpg" width="99" height="100" alt="wither skull">
        <run style="font-size:25px;font-weight:bold;color:#ff3312;">1 skull for a stack of tnt
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
               <input type="button" value="trade! " onClick="onTTlick1(); onTTlick();" /></button>
          <script type="text/javascript">
            var skulls = 0;
            function onTTlick1() {
              skulls += 1;
              document.getElementById("skulls").innerHTML = skulls;
            };
          </script>
          </div14>
          </div12>
          <style>
        div14 {
          background-color: black;
          width: 100px;
          border: 3px solid darkred;
          padding: 25px;
          margin: 20px;
          display: inline-block;
        }
      </style>
      <div14>
        <img src="https://live.staticflickr.com/65535/51692042335_475a6a5e34_t.jpg" width="99" height="100" alt="wither skull">
        <p style="font-size:25px;font-weight:bold;color:#ff3312;">1 skull for a stack of sea lanterns
          <p>
          </p>
          <style>
          </style>
          <!--- Don't use the same function twice : ) --->
               <input type="button" value="trade! " onClick="onsea1(); onsea();" /></button>
          <script type="text/javascript">
            var skulls = 0;
            function onsea1() {
              skulls += 1;
              document.getElementById("skulls").innerHTML = skulls;
            };
          </script>
          </div14>
<script>

                var clicks = 0;
                 function onBlick1() {
                  clicks += 1;
                  document.getElementById("clicks").innerHTML = clicks;
                }
              </script>
               </run>


              <p style="font-size:40px;font-weight:bold;color:hsla(240,100%,50%,0.7);">
                <u>total egaps;
                  <a id="clicks">0
                  </a>
                </u>
              </p>
              <p style="font-size:40px;font-weight:bold;color:hsla(240,100%,50%,0.7);">
                <u>
                  <u>total skulls;
                    <a id="skulls">0
                    </a>
                    <p style="font-size:40px;font-weight:bold;color:hsla(240,100%,50%,0.7);">
                <u>total gaps;
                  <a id="gaps">0
                  </a>
                  </u>
                </u>
              </p>

                <script>
                </script>
                <script>
                  function addItem() {
                  }
                </script>
</style>
<b>
 <script>
                  function onBlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p>custom book shulker</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                <body>
</style>
 <script>
                  function onFlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p>32 end crystals</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                <body>
</style>
 <script>
                  function onKlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p>3 skulls</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
 <script>
                  function onClick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p>1 god gaps</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
 <script>
                  function onAlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p>starter kit</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>

 <script>
                  function onElick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p> </u>  shulker of carrots/ potatoes</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                <script>
                 function onZlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> redstone kit</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                 <script>
                 function onPlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> pvp kit</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                                 <script>
                 function onHlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> carrot box</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                                       <script>
                 function onJlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> a wither skull</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                                     <script>
                 function onLlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> shulker of sand</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                                  <script>
                 function onQlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> shulker of glass</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                                <script>
                 function onTlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> custom shulker of potions</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                                <script>
                 function onTTlick() {
                    var newItem = document.createElement("dive") ;
                    newItem.innerHTML = "<font color=green><p></ul> stack of tnt</p>" ;
                    document.getElementById("button").appendChild(newItem)
                    newItem.onclick = removeItem;
                    document.getElementById("list").appendChild(newItem)
                  }
                  function removeItem() {
                    document.getElementById("back").remove(button) ;
                  }
                </script>
                <script>
 function onsea() {
    var newItem = document.createElement("dive") ;
    newItem.innerHTML = "<font color=green><p></ul> stack of sea lanterns</p>" ;
    document.getElementById("button").appendChild(newItem)
    newItem.onclick = removeItem;
    document.getElementById("list").appendChild(newItem)
  }
  function removeItem() {
    document.getElementById("back").remove(button) ;
  }
</script>
                <body>

       <run style="color:yellow;">
when u are ready to order screenshot your order and send its to the channel trade with others and we will get to your order when both players (you and staff) are on link is below for channel<p>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.btn {
  background-color: #f4511e;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.4;
  transition: 0.3s;
}

.btn:hover {opacity: 1}
</style>
</head>
<body>


<a href="https://discord.gg/fa5B72swHY" class="btn">order on discord</a>
 <p style="font-size:40px;font-weight:bold;color:hsla(290,80%,50%,0.7);">list; </p>

</body>
</html>
</style>
  <dive id= "button" onclick="addItem();">
                    </u>
                  </div>
                <u>
                  <h2>
                    <p style="color:yellow;">
                      <meta name="viewport" content="width=device-width, initial-scale=1">
                      <style>
                        /* width */
                        ::-webkit-scrollbar {
                          width: 10px;
                        }
                        /* Track */
                        ::-webkit-scrollbar-track {
                          box-shadow: inset 0 0 400px black;
                          border-radius: 10px;
                        }
                        /* Handle */
                        ::-webkit-scrollbar-thumb {
                          background: red;
                          border-radius: 10px;
                        }
                        /* Handle on hover */
                        ::-webkit-scrollbar-thumb:hover {
                          background:  #b30000 ;
                        }
                      </style>
                    </p>
                  </h2>
                </u>
                </doctype!>
